body{
    background-color: darkslategrey;
}

.upperbanner{
    background-image: linear-gradient(rgba(79, 82, 21, 0.611),rgba(77, 66, 19, 0.611)), url(./images/leaves.png);
    background-position: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.midbanner{
    background-image: linear-gradient(rgba(106, 110, 30, 0.611),rgba(79, 82, 21, 0.611)), url(./images/vessel.png);
    background-position: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.lastbanner{
    background-image: linear-gradient(rgba(79, 82, 21, 0.611),rgba(82, 62, 21, 0.611)), url(./images/pencil.png);
    background-position: center;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog{
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
  font-size: 20px;
  color:#09271c;
  flex-wrap: wrap;
  height: auto;
}

.blog>input{ 
  margin-left: 420px; 
  border-radius: 5px;
  height: 25px;
  width: 100px;
  background-color: #114331; 
  color: bisque; 
  flex-wrap: wrap;     
}

.flex>input{
  height: 25px;
  width: 70px;
  margin-left: 10px; 
  border-radius: 20px;
  background-color: #0a3d0e; 
  color: bisque;  
  flex-wrap: wrap;
}

h1{
    text-align: center;
    color:rgb(73, 12, 12);
    font-size: 50px;
}
h1:hover{
  transform: rotateX;
}

.flex{
    background-color:darkkhaki;
    color:#09271c;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-bottom: 30px;
    margin-left: 50px;
    justify-content: center;         
    height: 350px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
}

.flex:hover{
  transform:rotate(-10deg);
}

.navbar {
    background-color:rgb(95, 160, 145);
    overflow: hidden;
    border-radius: 15px;
    margin-top: 0px;
  }
  
  .navbar a:hover {
    background-color: #0971;
    color: #114331;
  }
 
  .navbar a {
    color: #f2f2f2;
    float: left;
    padding: 14px 16px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;   
  }
  
  .navbar a.active {
    background-color: #0a7850;
    color: white;
  }

 .bottomnav{
  height: 50px;
  width: 100%;
  float: left;
  color: #f2f2f2;
  font-size: 20px;
  gap: 50px;
  display:inline-flex;
  justify-content: center; 
 }